<%= javascripts 'newji'%>
<%graphql
  fragment RepositoryConnection on RepositoryConnection {
    
    edges {
      node {
        ...Views::Repositories::ListItem::Repository
      }
      cursor
    }

    # Pagination related metadata
    pageInfo {
      hasNextPage
    }
  }
%>
<% repositories = Views::Repositories::Repositories::RepositoryConnection.new(repositories) %>

<% repositories.each_node do |repository| %>
  <%= render "repositories/list_item", repository: repository %>
<% end %>

<% if repositories.page_info.has_next_page? %>
  <li class="list-group-item show-more text-center">
    <a class="js-load-more btn btn-primary" id="spin_wrapper" href="<%= more_repositories_path(after: repositories.edges.last.cursor) %>">
      Load more...
    </a>
    <span class="octicon octicon-sync spinner"></span>
  </li>
<% end %>
 
