<% content_for :title,'GITHUB | レポジトリ' %>
<% breadcrumb_add "レポジトリリスト" %>
<%= stylesheets 'newji'%>
<%= javascripts 'newji' %>

<%graphql

  fragment Viewer on User {

    repositories(first: 30) {

      totalCount

      ...Views::Repositories::Repositories::RepositoryConnection
    }
  }
%>
<% content_for :content_header do %>

<% viewer = Views::Repositories::Index::Viewer.new(viewer) %>

<div class="repositories">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Your repositories</strong>
      <%# NOTE: total_count is snake case here %>
      <span class="badge"><%= viewer.repositories.total_count%></span>
    </li>

    <%= render "repositories/repositories", repositories: viewer.repositories %>
  </ul>
</div>

<% end %>