<% breadcrumb_add "クレーム" %>
<% breadcrumb_add "不適合" %>

<% content_for :content_header do %>
<section class="content">
      <div class="mb-4">
        <form action="<%= list_user_path%>" method= "get" id= "form_user_search" class= "form_user_search">
          <div class="input-group">
          <input type="hidden" name='item_code' id="claim_item_code">
            <input class="form-control form-control-navbar form-control--ie" placeholder= "〇〇、〇〇などで検索" id= "claim-search", autocomplete= "off" %>
            <div class="input-group-append">
              <button  class= "sbtn5" id= "search_claim_with_submit">検索</button>
            </div>
          </div>
        </form>
        <div class="input-group search_result_table">
          <div id="result" class="list_claim"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body card-body--ordering">
              <table id="example1" class="table table-bordered table-striped table--ordering table--claim">
                <thead>
                  <tr>
                    <th class="text-center">クレーム<span class="textbr">ナンバー</span></th>
                    <th class="text-center">登録日</th>
                    <th class="text-center">ロット<span class="textbr">ナンバー</span></th>
                    <th class="text-center">不適合区分</th>
                    <th class="text-center">クレーム<span class="textbr">内容</span></th>
                    <th class="text-center">原因</th>
                    <th class="text-center">対策</th>
                    <th class="text-center">編集</th>
                    <th class="text-center">削除</th>
                  </tr>
                </thead>
                  <tbody>

                      <tr>
                        <td type="hidden" class="hidden"></td>
                        <td class="text-center" title="クレームナンバー"></td>
                        <td class="text-center" title="登録日"></td>
                        <td class="text-center" title="ロットナンバー"></td>
                        <td class="text-center" title="クレーム内容を確認"></td>
                       
                      </tr>
 
                  </tbody>
                <tfoot>
                  <tr>
                    <th class="text-center">クレーム<span class="textbr">ナンバー</span></th>
                    <th class="text-center">登録日</th>
                    <th class="text-center">ロット<span class="textbr">ナンバー</span></th>
                    <th class="text-center">不適合区分</th>
                    <th class="text-center">クレーム<span class="textbr">内容</span></th>
                    <th class="text-center">原因</th>
                    <th class="text-center">対策</th>
                    <th class="text-center">編集</th>
                    <th class="text-center">削除</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <!-- /.login-box -->
      </div>
      <!-- /.container-fluid -->
      <div class="w-90 text-center mt-4 margin-bottom30">
      <a></a>
      </div>
    </section>
<% end %>
