.octicon-issue-opened {
  margin-right: 10px;
}
.octicon-git-pull-request, .octicon-pulse, .octicon-graph{
  margin-left: 10px;
}
.octicon-issue-opened {
  margin-left: 5px;
}
.newji-btn--blue {
  background-color: #96B6DD;
  border-color: #96B6DD;
  color: #000000;
}

.newji-btn--dark-blue {
  background-color: #2863A3;
  border-color: #2863A3;
  color: #ffffff;
}

.newji-btn--dark-blue:hover {
  color: #ffffff;
  opacity: 0.9;
}

.newji-btn--pink {
  background-color: #FA1F6C;
  border-color: #FA1F6C;
  color: #ffffff;
}

.newji-btn--pink:hover {
  color: #ffffff;
  opacity: 0.9;
}

.newji-btn--gray {
  background-color: #D5D5D5;
}

.newji-btn--white {
  background-color: #fff;
  color: #2863A3;
}

.btn-right-top {
  font-size: 16px;
}

.list-group-item{
  width: 600px;
}
.my-page-img{
  height: 35px;
  width: 35px;
  border: 2px solid #D5D5D5;
}

.user_img{
  position: relative;
  left: 20px !important;
}

/*ここからNewji独自のスタイルに変更*/
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  background-color: #f0f0f0;
  color: #312E2E;
}

b, strong, .bold {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI semibold", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Segoe UI", Verdana, "メイリオ", Meiryo, sans-serif;
}

.header-blue-primary {
  background-color: #96B6DD;
}


/*サイドバー*/
:not(.layout-fixed) .main-sidebar {
  height: calc(100% + 16px);
}

.header-blue-primary {
  background-color: #96B6DD;
}

.sidebar-blue-primary {
  background-color: #2863A3;
}

[class*=sidebar-blue-] .sidebar a {
  color: #ffffff;
}

