<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"><i class="fa fa-home" style="color: white;"></i><span style="padding-left: 10px";>ホーム</span></li>
      <li class="<%= 'active' if controller_name == 'dashboard' %>">
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>ダッシュボード</span>
        </a>
      </li>
      <li class="header">SETTINGS</li>
      <li>
        
           <a><i class="fa fa-sign-out"></i> <span>ログアウト</span></a>
        
      </li>
    </ul>
  </section>
</aside>
